@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    font-family: 'Inter', 'Arial', sans-serif;
    --color-positive: #0C4A6F; /*33A474 */
    --color-negative: #C61928; /* #886199 */
    --color-indecisive: #9B9FAA;
    --color-background: #FEFEFE;

    background-color: var(--color-background);
}

input[type='radio'] {
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-background);
    
    height: var(--radio-size);
    width: var(--radio-size);
    border-radius: 100%;

    display: flex;
    vertical-align: center;
    position: relative;

    cursor: pointer;
}

input[type="radio"]::before {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    
    height: var(--radio-size);
    width: var(--radio-size);

    border: 2px solid var(--radio-color);
    border-radius: 100%;
    overflow: hidden;
}

input[type="radio"]:checked::before {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Material Icons";
    content: "\e5ca";
    color: var(--color-background);
    background: var(--radio-color);
}

input[type="radio"]:hover::before {
    transition: 120ms ease-in-out;
    background: var(--radio-color);
}

body {
    margin: 0;
    padding: 0;
    background: #FFF;
}

.statement {
    font-size: var(--font-size-sb);
    font-weight: var(--font-weight-sb);
    text-align: center;
    color: #576071;
    line-height: 1.5;
}


@media (min-width: 320px) {
    * {
        --font-size-sb: 18px;
        --font-weight-sb: 550;
    }

    .disclaimer {
        font-size: 16px;
        color: #000;
        text-align: justify;
        line-height: 1.5;
        margin-top: 20px;
    }

    .identification {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 20px;
        margin-top: 20px;
        border-bottom: 1px solid #E0E0E0;
    }

    .names label {
        font-size: calc(var(--font-size-sb)-10%);
        font-weight: var(--font-weight-sb);
        color: #576071;
    }

    .birthdate label {
        font-size: calc(var(--font-size-sb)-10%);
        font-weight: var(--font-weight-sb);
        color: #576071;
    }

    .required {
        margin-left: 3px;
        color: #C61928;
    }

    .id_field {
        min-width: 250px;
        margin-bottom: 20px;
        font-weight: 500;
        color: #aaa;
    }

    .statement {
        max-width: 290px;
    }

    .input_mask {
        max-width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .radio_buttons {
        max-width: 310px;
        min-width: 290px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .options {
        min-width: 310px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    .caption {
        min-width: 290px;
        font-weight: 450;
        font-size: 13px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto 4px auto 4px;

        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 20px;
    }

    .caption_positive {
        color: var(--color-positive);
    }

    .caption_negative {
        color: var(--color-negative);
    }

    .radio_large {
        font-size: calc(var(--radio-size)*0.56);
        --radio-size: 45px;
        --radio-color: var(--color-positive);
    }

    .radio_mid {
        font-size: calc(var(--radio-size)*0.56);
        --radio-size: 35px;
        --radio-color: var(--color-positive);
    }

    .radio_small {
        font-size: calc(var(--radio-size)*0.56);
        --radio-size: 25px;
        --radio-color: var(--color-positive);
    }

    .radio_indecisive {
        font-size: calc(var(--radio-size)*0.56);
        --radio-size: 20px;
        --radio-color: var(--color-indecisive);
    }

    .radio_small_negative {
        font-size: calc(var(--radio-size)*0.56);
        --radio-size: 25px;
        --radio-color: var(--color-negative);
    }

    .radio_mid_negative {
        font-size: calc(var(--radio-size)*0.56);
        --radio-size: 35px;
        --radio-color: var(--color-negative);
    }

    .radio_large_negative {
        font-size: calc(var(--radio-size)*0.56);
        --radio-size: 45px;
        --radio-color: var(--color-negative);
    }

}
